*{
  font-family: 'Courier New', Courier, monospace;
  padding: 0px;
}

body{
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header{
  margin-top: 1em;
  margin-bottom: 1em;
  transition: all 1s ease;
}

header:hover{
  color: rgb(0, 44, 238);
  font-size: x-large;
}


.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.images-container{
  padding: 1em;
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
}

.images-container button{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: 5px solid black;
  box-shadow: 2px 2px 5px black;
  transition: all 0.1s ease-in;
  border-radius: 10px;
  flex: 1;
}


.images-container button:hover {
  transform: scale(1.1);
  border-color: rgb(0, 44, 238);
  box-shadow: 4px 4px 5px rgb(20, 20, 126);
}

.images-container button:active {
  box-shadow: none;
  transform: scale(1);
}

button img{
  width: 90%;
}

button p{
  font-size: 20px;
  font-weight: 550;
}

.info-container{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.info-container p{
  font-size: 24px;
  font-weight: bold;
  transition: all 0.5s ease;
}

.info-container p:hover {
  color:rgb(0, 44, 238);
  transform: scale(1.1);
}

#prompt{
  font-size: 24px;
  font-weight: bold;
  transition: all 0.5s ease; 
}

#prompt:hover{
  color: rgb(0, 44, 238);
  transform: scale(1.1);
}

.disabled {
  pointer-events: none;
  opacity: 0.3;
}

.chicken-button{
  padding: .5em;
}



